@CHARSET "ISO-8859-1";

html {
	color: #2E2E2E;
   font-family: "Roboto", "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;	
    background-color: #F2F2F2;
}

input {
	   font-family: "Roboto", "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;		
}

body {
	margin: auto;
	padding: 0px;
	height: 100%;
		max-width: 980px;
	margin: auto;
}

.header {
	padding: 10px;
	width: 100%;
	text-align: center;
	background-color: #F2F2F2;
	color: #424242;
}

.body {
	margin: 10px;
}

.footer {
	clear: both;
	position: inherit;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 30px;
	background-color: #4CAF50;
	color: white;
}


.prodheading {
	width: 100%;
	height: 20px;
	background-color: #808080;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

.prodContainer {
	position: inherit;
	height: auto;
	float: left;
}

table {
    border-collapse: collapse;
    width: 100%;
	margin-top: 20px;
    
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

td, td.center-col {
	height: 40px;
}

td.center-col {
	text-align: center;
}

td.right-col {
	text-align: right;
	padding-right: 15px;
}

td.tot {
	color: #424242;
	border:1pt solid #808080;
}
.tableContainer {
	padding-left: 20px;
}

#wrapper {
	margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;
}

.button-bar {
	float:left;
	clear: both;
}

.explanation {
	padding-left: 10px;
	font-size: x-small;
}

.confirmation {
	text-align: center;
}

.home {
	max-width: 50%;
	display: inline-block;
	font-style: italic;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.btn {
	border: none;
    display: inline-block;
    padding: 8px 16px;
    margin: 12px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
	 color: #FFFFFF;
    background-color: #4CAF50;
    
}

.btn:link, .btn:visited {
    color: #FFFFFF;
    background-color: #4CAF50;
}

.sticky {
  position: sticky;
  top: 0;
}

.bio {
	
}

.invalid #invalid {
	color: #FF0000;
	font-weight: bold;
} 

.img-circle{
	border-radius:50%;
	height: 10%;
	width: 10%;
	border : 4px solid #4CAF50;
}